.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding-top: 65px; /* Added padding to prevent overlap */
}

/* Hide scrollbar for WebKit browsers */
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.container {
    scrollbar-width: none;
}

/* Hide scrollbar for older versions of Firefox and IE */
.container {
    -ms-overflow-style: none;
}