.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding-top: 65px; 
}


.container::-webkit-scrollbar {
    display: none;
}


.container {
    scrollbar-width: none;
}


.container {
    -ms-overflow-style: none;
}